@import "colors.css";



* {
    border: none;
    border-radius: 1px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}


                  





window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @tokyotext;
}



tooltip {
    background: @crust;
    color: @tokyotext;
    border-radius: 7px;
    border-width: 2.5px;
    border-style: solid;
    border-color: @tokyoblue;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}





#workspaces button {        /* Workspace has window but is not visible  */
    color: @tokyolightgray;
    margin-right: 5px;
    padding-right: 0px;
    padding-left: 0px;
}



#workspaces button.active {
    color: @tokyored;
}


#workspaces button.empty {
    color: @surface1;
}


#workspaces button.visible {
    color: @tokyoblue;
}



#workspaces button.urgent {
    color: @tokyored;
}



button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: 0 0 5px @tokyolightgray; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: color 0.1s ease, text-shadow 0.1s ease; /* Disable predefined animations */
}




#cpu,
#window,
#clock,
#pulseaudio,
#pulseaudio.microphone,
#workspaces,
#tray,
#memory,
#disk,
#tray,
#mpris,
#network,
#custom-notification,
#custom-power {
    background: @crust;
    opacity: 1;
    padding: 1.5px 7px 1.5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 13px;
    margin-right: 5px;
    margin-left: 5px;
}



#workspaces {
    background: @crust;
    border-radius: 20px 8px 8px 20px;
    margin-left: 6px;
    padding-right: 6px;
    border-top: 2px solid @surface1;
    border-bottom: 2px solid @surface1;
    border-left: 2px solid @surface1;
    border-right: 2px solid @surface1;
    margin-right: 3px;
}



#window {
    color : @tokyotext;
    border: 2px solid @surface1;
    border-radius: 8px 20px 20px 8px;
    margin-left: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


#mpris {
    background: @crust;
    border: 2px solid @surface1;
    border-radius: 20px 8px 8px 20px;
    margin-left: 1px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
}

#clock {
    color: @tokyotext;
    border-radius: 20px;
    border-top: 2px solid @surface1;
    border-bottom: 2px solid @surface1;
    border-left: 2px solid @surface1;
    border-right: 2px solid @surface1;
    padding: 0px 10px 0px 10px; /* top - right - bottom - left */
}



#network {
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right:0px;
    border-top: 2px solid @surface1;
    border-bottom: 2px solid @surface1;
}





#custom-updates {
    color: #89b4fa;
    border-radius: 7px 7px 7px 7px;
    border-left:  0px;
    border-right: 0px;
    margin-left:  2px;
    margin-right: 2px;
}



#custom-player {
 color: #cba6f7;
 border-radius: 7px 7px 7px 7px;
 padding-left: 4px;
 margin-left:  5px;
 margin-right: 5px;
}



#memory {
    color: @tokyored;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right:0px;
    border-top: 2px solid @surface1;
    border-bottom: 2px solid @surface1;
}

#disk {
    color: @tokyogreen;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right:0px;
    border-top: 2px solid @surface1;
    border-bottom: 2px solid @surface1;
}




#bluetooth {
  color: #89b4fa;
  border-radius: 0px 13px 13px 0px;
  margin-left: 5px;
  margin-right: 5px;
} 



#pulseaudio {
  color: @tokyoorange;
  border-radius: 0px 0px 0px 0px;
  margin-right: 0px;
  margin-left: 0px;
  transition: color 0.2s ease, text-shadow 0.2s ease;
    border-top: 2px solid @surface1;
    border-bottom: 2px solid @surface1;
}

#pulseaudio:hover {
color: @orange;
text-shadow: 0 0 3px @tokyoorange;
}


#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 2px solid @surface1;
    border-bottom: 2px solid @surface1;
}



#language {
   border-radius: 13px 0px 0px 13px;
   margin-right:0px;
}



#cpu {
   color: @tokyoblue;
   border-radius: 8px 0px 0px 8px;
   padding-left:10px;
   margin-right:0px;
   margin-left: 0px;
    border-top: 2px solid @surface1;
    border-bottom: 2px solid @surface1;
    border-left: 2px solid @surface1;
}



#custom-weather {
   border-radius: 13px 13px 13px 13px;
   margin-right: 0px
   
}



#custom-power {
    border-top: 2px solid @surface1;
    border-bottom: 2px solid @surface1;
    border-right: 2px solid @surface1;
    color: @tokyored;
    border-radius: 0px 20px 20px 0px;
    margin-left: 0px;
    margin-right: 5px;
    padding: 0px 16px 0px 5px; /* top - right - bottom - left */
    transition: color 0.2s ease, text-shadow 0.2s ease;
}



#custom-power:hover {
    color: #f38ba8;
    text-shadow: 0 0 5px #ffb4b4;
}



#tray {
   color: @tokyotext;
   border-radius: 0px 0px 0px 0px;
   margin-left: 0px;
   margin-right: 0px;
   border-top: 2px solid @surface1;
   border-bottom: 2px solid @surface1;
}



#custom-notification {
   border-radius: 0px 0px 0px 0px;
   margin-left: 0px;
   margin-right: 0px;
   transition: color 0.2s ease, text-shadow 0.2s ease;
   border-top: 2px solid @surface1;
   border-bottom: 2px solid @surface1;
}

#custom-notification:hover {
color: @tokyotext;
text-shadow: 0 0 3px @tokyotext;
}


